<turbo-frame id="vehicles">
  <div class="mx-auto">
    <table class="mx-auto w-full">
      <thead class="bg-sky-100 h-10">
        <tr class="text-left">
          <th class="pl-4" scope="col">Year</th>
          <th class="pl-4" scope="col">Make</th>
          <th class="pl-4" scope="col">Model</th>
          <th class="pl-4" scope="col">VIN</th>
        </tr>
      </thead>
      <tbody class="overflow-y-scroll max-h-[80vh]">
        <% vehicles.each do |vehicle| %>
          <tr class="even:bg-gray-50 hover:bg-gray-100 transition-colors">
            <td class="border-collapse"><%= link_to vehicle.year, vehicle, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to vehicle.make, vehicle, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to vehicle.model, vehicle, class: "block p-4" %></td>
            <td class="border-collapse"><%= link_to vehicle.vin, vehicle, class: "block p-4" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</turbo-frame>
