<div data-controller="submit-button" data-submit-button-clicked-text-value="<%= clicked_text -%>" class="mb-4 mt-12 flex justify-end font-semibold">
  <%= form.submit text, 
    id: "submit-button",
    class: "button-enabled w-full sm:w-32 h-10 px-4 rounded font-semibold text-white",
    data: { "submit-button-target": "submit", action: "click->submit-button#clicked" }
  %>
</div>
