<div class="w-full sm:w-auto mx-auto mt-10">
  <div class="font-bold text-center text-3xl text-blue-500 mb-10">
    <h1>VehicleLog<h1>
  </div>
  <%= render FormCardComponent.new(title: "Sign In", error: @error) do %>
    <%= render LoginComponent::Form.new %>
  <% end %>
</div>
