<%= content_for :title, @title %>
<div class="mx-auto w-full sm:w-100 sm:p-10 rounded-md sm:border border-solid border-slate-200 sm:shadow-md">
  <div class="sm:pb-4 font-bold text-center text-2xl text-slate-600">
    <h2><%= @title -%></h2>
  </div>
  <% if @error.present? %>
    <div id="error" class="py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg">
      <%= @error %>
    </div>
  <% end %>
  <div class="mx-auto sm:w-80">
    <%= content %>
  </div>
</div>
