<div class="h-full w-full mx-4 md:w-3/5 md:mx-auto">
  <% if notice.present? %>
    <p id="notice" class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block">
    <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center text-slate-700">
    <h1 class="font-bold text-4xl">Vehicles</h1>
    <%= render LinkButtonComponent.new(text: "Add Vehicle", href: new_vehicle_path) %>
  </div>

  <% if @vehicles.count.zero? %>
    <div class="h-2/5 flex justify-center align-middle">
    <span class="m-auto text-slate-400 font-semibold">
      <p>No vehicles saved yet.</p>
      <p>Add one <%= link_to "here", new_vehicle_path, class: "underline" %>.</p>
    </span>
    </div>
  <% else %>
    <div id="vehicles" class="w-full mt-10">
      <%= render VehicleListComponent.new(@vehicles) %>
    </div>
  <% end %>
</div>
