<div class="h-full w-full mx-4 md:w-3/5 md:mx-auto">
  <span class="flex flex-row justify-between mb-4">
    <%= render BackLinkComponent.new("All vehicles", vehicles_path) %>
  </span>
  <span>
    <h1 class="font-bold text-4xl text-slate-700">New Vehicle</h1>
  </span>

  <%= render "form", vehicle: @vehicle %>
</div>
